<!DOCTYPE html>
<html lang="en">
  <head>
    <title>API Request Header-Parser</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://cdn.hyperdev.com/us-east-1%3A52a203ff-088b-420f-81be-45bf559d01b1%2Ffavicon.ico" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
    <link href="style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
    <main>
      <h1>API Request Header-Parser Microservice</h1>
      <button id="submit-btn">Who am I?</button>
      <h2>Output:</h2>
      <div id="output-container">
        <div id="ip-address">
        </div>
        <div id="preferred-language">
        </div>
        <div id="software">
        </div>
      </div>
    </main>
    <script src="/script.js"></script>
  </body>
</html>