<!DOCTYPE html>
<html lang="en">
  <head>
    <title>API Request Header Parser</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="style.css" rel="stylesheet" type="text/css">
  </head>
  <body>
  <main>
    <div class="container">
      <h1>API Request Header-Parser Microservice</h1>
      <div id="btn-container">
        <button id="submit-btn">Who am I?</button>
      </div>
      <div id="output-container">
        <h2>Output:</h2>
        <div id="ip-address">
        </div>
        <div id="preferred-language">
        </div>
        <div id="software">
        </div>
      </div>
    </div>
    </main>
    <script src="/script.js"></script>
  </body>
</html>
